{% extends 'layout.html' %}
{% block title %} Expense Tracker {% endblock %}

{% block content %}
<div class="container">
    <h1> Add Expense </h1>

        <form action="{{ url_for('app.add_expense') }}" method="POST" class="form">

            <input type="text" name="name" placeholder="Name of Expense" required="required"> <br>
            <input type="text" name="desc" placeholder="Description" required="required"> <br>
            <input type="number" name="amount" placeholder="Amount of Expense" step="0.01" required="required"> <br>
            <input type="date" name="date" placeholder="Date of Expense" required="required"> <br>

            <input type="submit" value="Add Expense">

        </form>
</div>

{% endblock %}