{% extends 'layout.html' %}
{% block title %} Login - Expensely {% endblock %}


{% block content %}

  <div class="container">
  <h1>Login Page</h1>


  <form action="{{ url_for('app.login') }}" method="POST" class="form">
      <input type="text" name="username" placeholder="Username" required="required"> <br><br>
      <input type="password" name="password" placeholder="Password" required="required"> <br><br>
      <input type="submit" value="Login">
  </form>


  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  </div>



{% endblock %}





